
body {
    font-family: sans-serif;
}
.form {
    max-width: 420px; 
    margin: 0 auto; 
    padding: 20px; 
    border: 1px solid #110505; 
    border-radius: 5px; 
}

.form-group {

}

label {
    margin-bottom: 20px;
    display: block;
}

textarea {
    resize: vertical; 
    max-height: 200px;
}

.checkbox {
    cursor: pointer;

}

.button {
    cursor: pointer;
}