html {
  font-family: sans-serif;
}

body * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #1f1919;
  
}

li {
  display: inline;
  justify-content: space-between;
}

.header {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0; 
  padding: 15px 0;


}
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 0 20px;
}


.header__container {
  display: flex;
  justify-content: space-between;
}

.square {
    width: 100px;
    height: 100px;
    background: #0b0ea3;
}

.number {
  list-style: none;
  color: #020101;
}