
body {
    font-family: sans-serif;
}

.form {
    border: 1px solid #333;
    border-radius: 6px;
    max-width: 300px;
    padding: 15px;

}

.form-group {
    border: none;
    padding: 0;
}

.form-group-title {
    font-weight: 700;
    padding: 0;
    margin-bottom: 10px; 
}

.label {
    display: block;
    margin-bottom: 5px;
}

.textarea {
    min-height: 30px;
    max-height: 150px;

    resize: vertical;
}
.input, .textarea {
    border: 1px solid #333;
    border-radius: 6px;
    min-width: 220px;
    padding: 5px 12px;
    margin-bottom: 10px;
    outline: none;
}

.checkbox {
    cursor: pointer;
}

.checkbox-text {
    font-size: 14px;

}